/Homework Assignment #/nbproject/private/
/Homework Assignment 3/nbproject/private/
/CSVReader/build/
/CSVReader/nbproject/private/
/Homework Assignment 3/build/
/Homework Assignment 3/dist/
/lab3/nbproject/private/
/lab3/build/
/lab3/dist/
/Homework_4/nbproject/private/
/Homework_4/build/
/Homework_4/dist/
/HomeWork5/nbproject/private/
/HomeWork5/build/
/HomeWork5/dist/
/lab4demo/nbproject/private/
/lab4demo/build/
/lab4demo/dist/
/Singleton/nbproject/private/
/HomeWork 7/nbproject/private/
/HomeWork 7/build/
/HomeWork 7/dist/